build/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta content="" name="author">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <link rel="stylesheet" href="css/main.css">
    <title>Главная страница
    </title>
  </head>
  <body>
    <div class="wrapper">
      <div class="hero">
        <header class="header">
          <div class="container header__container"><a class="logo__link" href="#">BerYoga</a>
            <nav class="nav">
              <ul class="menu__list">
                <li class="menu__item active"><a class="menu-item__link" href="#">Home</a></li>
                <li class="menu__item"><a class="menu-item__link" href="#">About us</a></li>
                <li class="menu__item"><a class="menu-item__link" href="#">Contact us</a></li>
                <li class="menu__item"><a class="menu-item__link" href="#">Pricing</a></li>
              </ul>
                      <button class="btn btn__header">Login</button>
            </nav>
          </div>
        </header>
        <div class="container">
          <div class="hero__container">
            <h2 class="section__title">Beautiful videos. Become your best self with BerYoGa.</h2>
            <div class="section__description">
              For me, BerYoga is more than just a sport – it is lifestyle, a state mind, a philosophy.
              Now I decided to open BerYoga so that I can share my love and joy of bikram yoga.  It is my hope that you too can discover all the positive impacts of bikram yoga and make bikram yoga as a part of your life.
            </div>
            <div class="section__buttons">
                      <button class="btn btn__hero">Service</button>
                      <button class="btn btn__hero btn__hero--border">Sign Up</button>
            </div>
          </div>
        </div>
      </div>
      <section class="section advantages">
        <div class="container">
          <h2 class="section__title">Why Choose BerYoga?</h2>
          <div class="section__description">Access hundreds of online yoga classes shot in natural studios around the world. Unlimited access for $150/Years.</div>
          <ul class="advantages__list">
                      <li class="advantage__item">
                        <div class="advantage-icon__wrapper"><i class="advantage__icon advantage__icon--update">       </i></div>
                        <h4 class="advantage__title">Lifetime Updates</h4>
                        <p class="advantage__description">Free lifetime updates for our lates collection.</p>
                      </li>
                      <li class="advantage__item">
                        <div class="advantage-icon__wrapper"><i class="advantage__icon advantage__icon--video">       </i></div>
                        <h4 class="advantage__title">Anywhere Videos</h4>
                        <p class="advantage__description">Access world-class online yoga videos can be seen on the application &amp; web</p>
                      </li>
                      <li class="advantage__item">
                        <div class="advantage-icon__wrapper"><i class="advantage__icon advantage__icon--unlimit">       </i></div>
                        <h4 class="advantage__title">Access Unlimited</h4>
                        <p class="advantage__description">Find lots of yoga video tutorials, from all over the world</p>
                      </li>
          </ul>
        </div>
      </section>
      <section class="section about">
        <div class="container">
          <section class="subsection programs">
            <div class="subsection__image"></div>
            <div class="subsection__content">
              <h2 class="section__title">What’s on BerYoga?</h2>
              <ul class="program__list">
                <li class="program__item">
                  <svg class="program__icon"></svg>
                  <div class="program__content">
                    <h4 class="program__title">New Classes Every Week</h4>
                    <p class="program__description">Discover hundreds of classes in our library. Save your favorites, try new styles and customize your routine to fit your schedule.</p>
                  </div>
                </li>
                <li class="program__item">
                  <svg class="program__icon"></svg>
                  <div class="program__content">
                    <h4 class="program__title">Series</h4>
                    <p class="program__description">Our multi-class series are designed to help you achieve your fitness and wellness goals.</p>
                  </div>
                </li>
                <li class="program__item">
                  <svg class="program__icon"></svg>
                  <div class="program__content">
                    <h4 class="program__title">Pose Directory</h4>
                    <p class="program__description">Get step-by-step instructions on poses and sequences in our extensive video pose directory.</p>
                  </div>
                </li>
              </ul>
            </div>
          </section>
          <section class="subsection healing">
            <div class="subsection__image"></div>
            <div class="subsection__content">
              <h6 class="section__subtitle">By Brittany Risherjan _____</h6>
              <h2 class="section__title">The Healing Power of Trauma-Informed Yoga Classes.</h2>
              <div class="section__description">
                <p class="program__description">Celebrating five years of service, the nonprofit Exhale to Inhale brings free, trauma-informed yoga classes to rape crisis centers and domestic violence shelters in Jakarta.</p><a class="section__link" href="#">Read more </a>
              </div>
            </div>
          </section>
          <section class="subsection ways">
            <div class="subsection__image"></div>
            <div class="subsection__content">
              <h2 class="section__title">5 Ways to Make Every Yoga Class More Restorative and Therapeutic</h2>
              <div class="section__description"> 
                <p class="program__description">In part four of our series on teaching trauma-sensitive yoga, teacher Daniel Sernicola shares five practices to help your students get grounded and cultivate mindfulness.  </p>
                <p class="program__description">
                    Teachers, need liability insurance? As a TeachersPlus member, you can access low-cost coverage and more than a dozen valuable benefits that will build your skills and business. Enjoy a free subscription to YJ, a free profile on our national directory, exclusive webinars and content packed with advice, discounts on educational resources and gear, and more</p><a class="section__link" href="#">Read more </a>
              </div>
            </div>
          </section>
        </div>
      </section>
      <section class="section bottom">
        <section class="subsection tarifs">
          <div class="container">
            <ul class="tarif__list">
              <li class="tarif__item tarif__item--simple">
                <ul class="tarif__options">
                  <li class="tarif__option"><i class="tarif__icon"></i><span class="tarif__text">Unlimitied Access Video</span></li>
                  <li class="tarif__option"><i class="tarif__icon"></i><span class="tarif__text">Saved Videos</span></li>
                  <li class="tarif__option"><i class="tarif__icon"></i><span class="tarif__text"> Offline Access</span></li>
                </ul>
                <div class="tarif__price"> <span class="tarif-price__currency">$ </span><span class="tarif-price__amount">15</span><span class="tarif-price__period">/Mo</span></div>
                <div class="tarif-price__desc">Billed monthly</div>
                          <button class="btn btn__tarifs btn__tarifs--blue">Become a member</button>
              </li>
              <li class="tarif__item tarif__item--best">
                <div class="tarif__title tarif__title--red">Best seller</div>
                <ul class="tarif__options">
                  <li class="tarif__option"><i class="tarif__icon"></i><span class="tarif__text">Unlimitied Access Video</span></li>
                  <li class="tarif__option"><i class="tarif__icon"></i><span class="tarif__text">Saved Videos</span></li>
                  <li class="tarif__option"><i class="tarif__icon"></i><span class="tarif__text">Offline Access</span></li>
                </ul>
                <div class="tarif__price"> <span class="tarif-price__currency">$ </span><span class="tarif-price__amount">150</span><span class="tarif-price__period">/Year</span></div>
                <div class="tarif-price__desc">Billed a one year - Save 45%</div>
                          <button class="btn btn__tarifs">Become a member</button>
              </li>
              <li class="tarif__item tarif__item--with_title">
                <div class="tarif__title">Yoga class</div>
                <ul class="tarif__options">
                  <li class="tarif__option"><i class="tarif__icon"></i><span class="tarif__text">Only Yoga class</span></li>
                  <li class="tarif__option"><i class="tarif__icon"></i><span class="tarif__text">Unlimitied Access Video</span></li>
                </ul>
                <div class="tarif__price"><span class="tarif-price__currency">$ </span><span class="tarif-price__amount">5</span><span class="tarif-price__period">/Mo</span></div>
                <div class="tarif-price__desc">Billed monthly</div>
                          <button class="btn btn__tarifs btn__tarifs--blue">Become a member</button>
              </li>
            </ul>
          </div>
        </section>
        <footer class="footer">
          <div class="container">
            <div class="footer__wrapper">
              <ul class="footer__columns">
                <li class="footer__column contacts">
                  <h4 class="footer-column__title">Contact us</h4>
                  <div class="contacts__address">Beryoga, Jl. Sudirman no. 129, Tebet Jakarta Selatan</div>
                  <ul class="contacts__list">
                    <li class="contact__item"><a class="footer-column-list-item__link" href="mailto:beryoga@yuk.com">beryoga@yuk.com</a></li>
                    <li class="contact__item"><a class="footer-column-list-item__link" href="tel:0812 6824 2856 (Main)">0812 6824 2856 (Main)</a></li>
                    <li class="contact__item"><a class="footer-column-list-item__link" href="tel:(072) 2673842  (Toll-free)">(072) 2673842  (Toll-free)</a></li>
                  </ul>
                </li>
                <li class="footer__column">
                  <h4 class="footer-column__title">About us</h4>
                  <ul class="footer-column__list">
                    <li class="footer-column-list__item"><a class="footer-column-list-item__link" href="#">Our mission</a></li>
                    <li class="footer-column-list__item"><a class="footer-column-list-item__link" href="#">Our team</a></li>
                    <li class="footer-column-list__item"><a class="footer-column-list-item__link" href="#">Management</a></li>
                    <li class="footer-column-list__item"><a class="footer-column-list-item__link" href="#">Policies</a></li>
                  </ul>
                </li>
                <li class="footer__column">
                  <h4 class="footer-column__title">Our programs</h4>
                  <ul class="footer-column__list">
                    <li class="footer-column-list__item"><a class="footer-column-list-item__link" href="#">Yoga class</a></li>
                    <li class="footer-column-list__item"><a class="footer-column-list-item__link" href="#">Bikram  yoga</a></li>
                    <li class="footer-column-list__item"><a class="footer-column-list-item__link" href="#">Acro yoga</a></li>
                    <li class="footer-column-list__item"><a class="footer-column-list-item__link" href="#">Sveda yoga</a></li>
                    <li class="footer-column-list__item"><a class="footer-column-list-item__link" href="#">Yo mama</a></li>
                  </ul>
                </li>
                <li class="footer__column">
                  <h4 class="footer-column__title">Support trails</h4>
                  <ul class="footer-column__list">
                    <li class="footer-column-list__item"><a class="footer-column-list-item__link" href="#">Donate</a></li>
                    <li class="footer-column-list__item"><a class="footer-column-list-item__link" href="#">Individual membership</a></li>
                    <li class="footer-column-list__item"><a class="footer-column-list-item__link" href="#">Gift membership</a></li>
                    <li class="footer-column-list__item"><a class="footer-column-list-item__link" href="#">Hiker store</a></li>
                  </ul>
                </li>
              </ul>
              <div class="footer__copyright">Copyright © 2019 BerYoga All rights reserved.</div>
            </div>
          </div>
        </footer>
      </section>
    </div>
  </body>
</html>

source/template/views/pages/index.pug
extends ../layout

block title
    | Главная страница

block content
    .wrapper
        .hero
            include ../../components/header
            .container
                .hero__container
                    h2.section__title
                        | Beautiful videos. Become your best self with BerYoGa.
                    .section__description
                        | For me, BerYoga is more than just a sport – it is lifestyle, a state mind, a philosophy.
                        |Now I decided to open BerYoga so that I can share my love and joy of bikram yoga.  It is my hope that you too can discover all the positive impacts of bikram yoga and make bikram yoga as a part of your life.

                    .section__buttons
                        +button('hero', 'Service')
                        +button('hero btn__hero--border', 'Sign Up')
        
        section.section.advantages
            .container
                h2.section__title
                    | Why Choose BerYoga?
                .section__description
                    | Access hundreds of online yoga classes shot in natural studios around the world. Unlimited access for $150/Years.
                include ../../components/advantages
        section.section.about
            .container
                section.subsection.programs
                    .subsection__image
                    //- img(src="images/girl-01.png").subsection__image
                    .subsection__content
                        h2.section__title
                            | What’s on BerYoga?
                        include ../../components/programs
                section.subsection.healing
                    .subsection__image
                        //- img(src="images/girl-02.png").subsection__image
                    .subsection__content
                        h6.section__subtitle By Brittany Risherjan _____
                        h2.section__title
                            | The Healing Power of Trauma-Informed Yoga Classes.
                        .section__description
                            p.program__description
                                | Celebrating five years of service, the nonprofit Exhale to Inhale brings free, trauma-informed yoga classes to rape crisis centers and domestic violence shelters in Jakarta.
                            a(href="#").section__link
                                | Read more 
                section.subsection.ways
                    .subsection__image
                        //- img(src="images/girl-03.png").subsection__image
                    .subsection__content
                        h2.section__title
                            | 5 Ways to Make Every Yoga Class More Restorative and Therapeutic
                        .section__description 
                            p.program__description
                                | In part four of our series on teaching trauma-sensitive yoga, teacher Daniel Sernicola shares five practices to help your students get grounded and cultivate mindfulness.  
                            p.program__description 
                                |  Teachers, need liability insurance? As a TeachersPlus member, you can access low-cost coverage and more than a dozen valuable benefits that will build your skills and business. Enjoy a free subscription to YJ, a free profile on our national directory, exclusive webinars and content packed with advice, discounts on educational resources and gear, and more
                            a(href="#").section__link
                                | Read more 
        section.section.bottom
            section.subsection.tarifs
                .container
                    include ../../components/tarifs
            include ../../components/footer
